@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

$primary-size:2rem;
$secondary-size:1.5rem;
$margin : 5px;
$primary-bg-color:#0f171e;
$secondary-bg-color:#1a242e;
$primary-color:white;
$secondary-color:#79b8f3;
$font:'Noto Serif',
serif;